#artistList li:hover{
	background-color: #f0ad4e;
}

.artistListPic{
	width: 50px;
	height: 60px;
}

#viewArtistSpotifyID{
	color: #5cb85c;
}
#viewArtistSpotifyFollowers{
	color: #f0ad4e;
}

.albumThumbs h4{
	color: #5cb85c;
}

.albumThumbs{
	height: 300px;
}
.albumThumbsThumbs{
	height: 290px;
}
.albumThumbImg{
	min-height: 172px;
	min-width: 172px;
}
#artistModalHeader{
	background-color: #5cb85c;
	color:white;
}
.genresCheck{
	margin:5px;
}

#artistModalSubmit{
text-align: right;
}

#playButton:hover{
	color: #5cb85c;
}

#fans{
	color: #5cb85c;
}

#addFav:hover{
	color: #5cb85c;
}

#deleteFav:hover{
	color: red;
}

.reviewButton{
	color: black;
}
.reviewButton:hover{
	color: #5cb85c;
}