

h2 { color: maroon; font-size: 170%; text-decoration: none font-weight: bold; ffont-family: FontName, Tahoma }

h3 { color: maroon; font-size: 140%; text-decoration: none font-weight: bold; text-indent: /*5em*/0px; ffont-family: FontName, Tahoma }

.rss-box { background-color: white; margin: 0px; padding: 0px; border: solid 5px maroon }

.rss-title, rss-title a { font-size: 120%; font-family: FontName, Tahoma; font-weight: bold; letter-spacing: 1px; margin: 5px 0; padding: 0 }

.rss-items    { list-style-type: none; list-style-image: url("http://142.27.144.70/gerry/pointer.jpg") }

.rss-item { color: black; font-size: 75%; font-family: Tahoma; font-weight: bold; margin: 2px 0; }

.rss-item a:link, .rss-item a:visited { color: maroon; font-size: 120%; text-decoration: none }

.rss-item a:hover { color: gray; text-decoration: underline }

.rss-date { color: gray; font-size: 80%; font-weight: normal } 

.rss-image{
	margin-top: 5px;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
	background-color: #d6e9c6;
	border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
	color: #3c763d;
	background-color: #fff;
	border-color: #d6e9c6;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}

.ArtistListName{
	color: #5cb85c;
}

.newArtistLink{
	display:block;
}

#newReviews a{
	color: black;
}

#newRatings a{
	color: black;
}
