
.albumThumbs{
height: 320px;
}

.reviewList{
	font-size: 12px;
}

.userDate{
	font-size: 12px;
}

.sidelist{
	max-height: 670px;
	overflow-y: scroll; 
}

#byuser{
	
	font-size: 10px;
	color: grey;
}

