#artistList li:hover{
	background-color: #f0ad4e;
}

.artistListPic{
	width: 50px;
	height: 60px;
}

#viewArtistSpotifyID{
	color: #5cb85c;
}
#viewArtistSpotifyFollowers{
	color: #f0ad4e;
}

.albumThumbs h4{
	color: #5cb85c;
}

.albumThumbs{
	
	height: 400px;
}
/*
.albumThumbsThumbs{
	height: 270px;
}
.albumThumbImg{
	min-height: 172px;
	min-width: 172px;
}*/
#artistModalHeader{
	background-color: #5cb85c;
	color:white;
}
.genresCheck{
	margin:5px;
}

#artistModalSubmit{
text-align: right;
}