html {
	overflow-y: scroll;
}

body {
	padding-top: 5px;
	padding-bottom: 20px;
}

a {
	color: white;
}
a:hover {
	text-decoration: none;
}

.navbar-default {
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #f0ad4e;
}

.navbar-sm .navbar-nav>li>a:hover , .navbar-sm .navbar-nav>li>a:focus{
	color:#f0ad4e;
	background-color: black;
}

.dropdown-menu>li>a {
	color: #5cb85c;
}

#headMenu {
	background-image: url('../img/muskoH.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#underNav {
	background: #000000;
	margin-top: 2px;
	margin-bottom: 2px;
}

#navbarNav a {
	color: white;
	text-decoration: none;
}

#navbarNav a:hover {
	color: #f0ad4e;
	text-decoration: none;
}

.navbar-nav>li>a {
	
}

.navbar {
	min-height: 50px !important
}

#artist-description {
	max-height: 200px;
	overflow: hidden;
}



input[type=range]{

-webkit-appearance: none;

background-color: 3f91e5;

width: 100%;

height:20px;

}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #5cb85c;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #5cb85c;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #5cb85c;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
#rating{
	display: inline-block;
	font-size: 30px;
	color: green;
}
#max-rating{
	color: red;
}
 #avg-rating{
 	color: red;
 	font-weight: bolder;
 }
 #myCarousel{
 	margin-top: 10px;
 	width: 100%;

 }
 .carousel-img{
 	overflow: hidden;
 }
 .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100%;
	margin: auto;
	height: 350px;
	opacity: 0.8;
}
.carousel-caption{
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.panel-success{
	background-color: #fdffee;
}
#latest-comments #album-name-comment {
	height: 50px;
}
#latest-comments #comment-text {
	height: 100px;
}
.alert{
	margin: 0px;
}
.col-lg-4{
	border: thick;
}
#review-image{
	height: 150px;
}
#artist-picture{
	height: 150px;
}
#artists-thumb{
	height: 250px;
}
#latest-comments a{
	color: black;
}
#latest-comments-inner{
	border: 1px solid gray;
	border-radius: 5px;
}
#artists-caption .caption{
	text-align: center;
	}
